Workflows/Main
{
  "name": "EUGENE SCHAWARTZ BRAIN",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "34115015-f884-4562-a38b-739802e68d71",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1240,
        1780
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "863a2d5f-6e5f-40c0-b4c0-cbd80587922c",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1560,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "7786318a-68ac-44fe-ba0e-8c74e2d368be",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        960,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "3b1b15a5-eebe-4293-bedb-7398b7ede7be",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        960,
        1760
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Definir ID1').item.json.file_id }}*"
      },
      "id": "767794b5-95e5-4ea3-b7ea-51da93d2bae4",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -80,
        2720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ebcVAOMht0jHuzT3",
          "name": "DESAFIO AI DATABASE"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Definir ID1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "ccf260ec-a7a7-4a85-9878-04f58a1c3cb4",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        2880
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Definir ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1160,
        1940
      ],
      "id": "1fd86d53-f76f-4520-b286-35988453944e",
      "name": "Delete File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Definir ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "13ecb246-475b-438d-be81-378d1591daea",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -20,
        1880
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "fa0620ca-ba72-41e9-a607-581ca7766f58",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1620,
        2860
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "76dbe043-3b68-4250-a5bf-1becc0386f2c",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1820,
        2860
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "b75a91f0-4a38-4208-9943-e40bd8b885ea",
      "name": "Extract PDF Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1420,
        2480
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "d0a0525c-b53f-4b3b-9779-6a598613873a",
      "name": "Extract from Excel1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1420,
        2860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Definir ID1').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Definir ID1').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "ea4dbc88-5917-4683-900e-256cb047e9a4",
      "name": "Convert to Google Doc2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        3060
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Definir ID1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1620,
        3060
      ],
      "id": "80ff0c1f-3560-4dae-91ef-362fa8660f9d",
      "name": "Delete File1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1940,
        1920
      ],
      "id": "3e85313b-e171-41ae-a55a-122796cb55b8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1580,
        1740
      ],
      "id": "597c60d8-f8da-4c87-abb3-80da5b339231",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XI50glT6QQWavHOQ",
          "name": "OpenAi AHS"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 175,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2400,
        2940
      ],
      "id": "4d6d36de-7892-4c7a-b0da-938a00843b13",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2120,
        2780
      ],
      "id": "15f5defa-4ed9-49af-8621-e4ecd2afcc46",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "XI50glT6QQWavHOQ",
          "name": "OpenAi AHS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -180,
        1720
      ],
      "id": "56e5464f-0f15-422b-84da-5c0d459f8b68",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Definir ID').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "v1"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Created').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Created').item.json.createdTime }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('File Created').item.json.modifiedTime }}"
              },
              {
                "name": "folder_path",
                "value": "projects"
              },
              {
                "name": "file_name",
                "value": "={{ $('File Created').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('File Created').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "8d3ca555-15f3-40b4-8d25-e33e5ed4e921",
      "name": "Enhanced Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1740,
        1640
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Definir ID1').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "={{ $('Definir Versão').item.json.message.content.version }}"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Updated').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Updated').item.json.createdTime }}"
              },
              {
                "name": "=last_modified",
                "value": "={{ $('File Updated').item.json.modifiedTime }}"
              },
              {
                "name": "=folder_path",
                "value": "projects"
              },
              {
                "name": "=file_name",
                "value": "={{ $('File Updated').item.json.name }}"
              },
              {
                "name": "=file_extension",
                "value": "={{ $('File Updated').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "4d7b84ed-b343-40e8-a4a0-2c0ebf3fdcad",
      "name": "Enhanced Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2320,
        2720
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ESN3G89hR4me1eD3rv2Crh9FwaZ7M8ts",
          "mode": "list",
          "cachedResultName": "DESAFIO SQUAD IA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ESN3G89hR4me1eD3rv2Crh9FwaZ7M8ts"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "2b800eb4-f684-46af-ad11-4355812dcd46",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        1720
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ESN3G89hR4me1eD3rv2Crh9FwaZ7M8ts",
          "mode": "list",
          "cachedResultName": "DESAFIO SQUAD IA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ESN3G89hR4me1eD3rv2Crh9FwaZ7M8ts"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "ab6f852f-7f74-4f40-914c-0ece9156964c",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        2720
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "b46c2ed0-947c-4244-a9b3-aa9093ad99fb",
      "name": "Extract from Text File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        960,
        1580
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "f46e1606-a02f-4b9b-bc6e-a1787c91a0a8",
      "name": "Extract from Text File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1420,
        2680
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "c2f6ec9e-0ef0-470e-9ba8-ae66db8e39a3",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        80,
        2720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        700,
        2720
      ],
      "id": "09acf204-ef15-4e31-bdcf-237a4f44e46b",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Definir ID1').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Definir ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Definir ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Definir ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Definir ID1').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Definir ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "544cd9f2-4794-4dac-97b2-80460f0deb7c",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1120,
        2700
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Definir ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Definir ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Definir ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Definir ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Definir ID').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Definir ID').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "3eff9e6c-a905-42ac-bf6d-8157cfd8892d",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        380,
        1640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Definir ID').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Definir ID').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "d508fede-0e1e-46a7-97d7-a5c9decd3f64",
      "name": "Converte para o Google Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        1940
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sjqqXT4oKVQ4GkQo",
          "name": "AHS DRIVE"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "0652498c-502a-4b2e-9ff2-d27c4d05ed36",
      "name": "Inserir na Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1560,
        1420
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ebcVAOMht0jHuzT3",
          "name": "DESAFIO AI DATABASE"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "934aabf2-a132-4f26-b861-33faed94694c",
      "name": "Inserir na Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2100,
        2480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ebcVAOMht0jHuzT3",
          "name": "DESAFIO AI DATABASE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Created').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Created').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f40f6e2-d839-4059-9d4e-6df98aae0cdd",
      "name": "Definir ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        1720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Updated').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Updated').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68858ce1-b194-4ae2-83b8-3dce6835ac77",
      "name": "Definir ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        2720
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Seu objetivo é pegar o número da versão recebido e adicionar 1 a ele.\n\n[Exemplos]  \nEntrada: v1  \nSaída: v2  \n\nEntrada: v2  \nSaída: v3  \n\nEntrada: v4  \nSaída: v5  \n\nO campo de saída deve sempre ser chamado de \"version\".",
              "role": "system"
            },
            {
              "content": "=número da versão recebida: {{ $json.metadata.version }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "8704ae0d-8c03-4cd4-a014-8e59eefdb67b",
      "name": "Definir Versão",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        300,
        2720
      ],
      "credentials": {
        "openAiApi": {
          "id": "XI50glT6QQWavHOQ",
          "name": "OpenAi AHS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "928b5cae-77cd-48a2-81ef-2f76dc441b0a",
              "leftValue": "={{ $('File Updated').item.json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6368b5ad-32b0-491d-a27d-5cc3ad5c2a11",
              "leftValue": "={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        2720
      ],
      "id": "82b5055c-ca13-417d-8196-e5a513fc75db",
      "name": "If2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Gatilho de Monitoramento (Drive) - Arquivos Criados\n## Arquivos criados em uma pasta específica -> Verificar o tipo de arquivo e realizar conversão, se necessário -> Extrair o texto -> Adicionar ao Vector Store\nDrive/Backoffice/Backoffice_Contracts",
        "height": 960,
        "width": 3000,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -900,
        1220
      ],
      "typeVersion": 1,
      "id": "39e5d8b6-a1ad-4dc7-8d3d-64c259f59579",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "# Gatilho de Monitoramento (Drive) - Arquivos Atualizados\n## Arquivos atualizados em uma pasta específica -> Verificar o tipo de arquivo e realizar conversão, se necessário -> Extrair o texto -> Adicionar ao Vector Store\nDrive/Backoffice/Backoffice_Contracts",
        "height": 1008,
        "width": 3547,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -900,
        2240
      ],
      "typeVersion": 1,
      "id": "26093407-b5e3-4f22-b2d7-fa9bff524839",
      "name": "Sticky Note32"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        580
      ],
      "id": "d9c309d5-9867-4381-83c5-2ed7064dd7c0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "474927c2-5cc5-4411-b181-df6ff6e6783a",
              "name": "Lead",
              "value": "={{ $json.body.lead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        800
      ],
      "id": "2de93bc2-4466-4c6f-9dc9-475ba45d8eea",
      "name": "SET Lead"
    },
    {
      "parameters": {
        "jsCode": "// Node: Extract Sources (URLs)\nconst lead = $json.Lead || \"\";\n\n// Regex para capturar URLs\nconst urls = [...lead.matchAll(/https?:\\/\\/[^\\s]+/g)].map(m => m[0]);\n\nreturn [{\n  lead_text: lead,\n  external_sources: urls\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        800
      ],
      "id": "270e5f1c-fa8f-4483-9173-f87dd7462b3c",
      "name": "Extract Sources (URLs)"
    },
    {
      "parameters": {
        "jsCode": "// Node: Prepare Embedding Body\nconst lead_text = $json.lead_text || \"\";\nconst external_sources = $json.external_sources || [];\n\n// Máximo de caracteres pra não estourar limite do modelo de embedding\nconst MAX_CHARS = 7500;\n\nconst payload = {\n  model: $env.OPENAI_EMBED_MODEL || \"text-embedding-3-large\",\n  input: lead_text.slice(0, MAX_CHARS)\n};\n\nreturn [{\n  payload,\n  lead_text,\n  external_sources\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        800
      ],
      "id": "d06ad6c7-d04b-43ae-a68b-03ae01cbdbc1",
      "name": "Prepare Embedding Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.payload}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        800
      ],
      "id": "e28ccefe-055e-4cbf-b6b3-00a42854c210",
      "name": "Embedding (OpenAI)",
      "credentials": {
        "openAiApi": {
          "id": "XI50glT6QQWavHOQ",
          "name": "OpenAi AHS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ajusta embedding para formato aceito pelo pgvector\nconst emb = $json.data[0].embedding;\nreturn [{\n  embedding: \"[\" + emb.join(\",\") + \"]\",\n  lead_text: $json.lead_text,\n  external_sources: $json.external_sources\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        800
      ],
      "id": "7c08088e-e5da-4583-83e6-cd599b74021b",
      "name": "Prepare Embedding Format"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH q AS (\n  SELECT '{{ $json.embedding }}'::vector AS v\n)\nSELECT \n  id,\n  content,\n  metadata,\n  1 - (embedding <=> (SELECT v FROM q)) AS score\nFROM documents\nORDER BY embedding <=> (SELECT v FROM q)\nLIMIT 10;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        620,
        800
      ],
      "id": "fe2c84d7-fd80-4710-8228-cc902859aaf8",
      "name": "Postgres: Vector Search (top-k chunks do livro",
      "credentials": {
        "postgres": {
          "id": "2UekiPGuASSGRMVq",
          "name": "Desafio AI DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: Format Book Context\nconst results = $input.all();   // pega todos os items de entrada\nlet context = \"\";\n\nfor (const item of results) {\n  const data = item.json;\n  context += `\\n[Chunk ${data.id} | Score: ${data.score}]\\n${data.content}\\n`;\n}\n\nreturn [{ context }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        800
      ],
      "id": "503a33a8-e395-4f83-aacd-44664afc3922",
      "name": "Prepare Vector Search"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 6000000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1140,
        980
      ],
      "id": "fa07d229-ea1f-432d-8922-2a474434b6c7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XI50glT6QQWavHOQ",
          "name": "OpenAi AHS"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nivel_consciencia\": {\n    \"nivel\": 3,\n    \"justificativa\": \"Lead fala com público solução-consciente...\",\n    \"estagio_sofisticacao\": 3\n  },\n  \"estrutura_lead\": {\n    \"framework\": \"AIDA + Novo Mecanismo + Story\",\n    \"explicacao\": \"...\"\n  },\n  \"pontos_melhoria\": [\n    {\n      \"problema\": \"Anacronismo Lavoisier...\",\n      \"porque_e_um_problema\": \"Quebra credibilidade...\",\n      \"referencia_eugene\": \"Cap. 3 - Especificidade vs promessas saturadas\",\n      \"correcao_eugene\": \"Reancorar no princípio científico...\",\n      \"exemplo_reescrito\": \"...\"\n    }\n  ],\n  \"novos_angulos\": [\n    {\n      \"headline\": \"Transforme gordura em CO2...\",\n      \"nivel_consciencia\": \"Solução-Consciente\",\n      \"justificativa\": \"Baseado em Eugene...\",\n      \"bullets_curiosidade\": [\n        \"O horário em que seu corpo mais converte gordura em CO2\",\n        \"O ingrediente barato que imita 20 min de caminhada\"\n      ]\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1460,
        980
      ],
      "id": "aaec0085-d9e0-4151-825f-8535525e9785",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o Clone Digital de Eugene Schwartz, autor de Breakthrough Advertising.  \nSua missão é analisar uma LEAD de VSL aplicando fielmente os princípios do livro. Utilize a tool 'Eugene Schwartz Brain' tambem para raciocinio.\n\n### LEAD\n{{ $('Extract Sources (URLs)').last().json.lead_text }}\n\n### FONTES CITADAS NA LEAD\n{{ $('Extract Sources (URLs)').last().json.external_sources }}\n\n### CONTEXTO DO LIVRO (trechos mais relevantes)\n{{ $json.context }}\n\n### INSTRUÇÕES\n1. Identifique o nível de consciência (1 a 5) em que a Lead se encontra e explique o motivo.\n2. Detecte qual framework de copywriting a Lead parece usar (AIDA, PAS, 4Ps, etc.) e explique.\n3. Liste no mínimo 5 pontos de melhoria da Lead, detalhando:\n   - O que está errado ou fraco\n   - Por que isso é um problema\n   - Como Eugene corrigiria\n   - Exemplo reescrito\n4. Crie no mínimo 3 novos ângulos criativos:\n   - Diferentes níveis de consciência\n   - Headline sugerida\n   - Justificativa com base no Eugene\n5. A saída deve ser **exclusivamente em JSON válido**, seguindo exatamente o schema abaixo.\n\n### SCHEMA ESPERADO\n{\n  \"nivel_consciencia\": {\n    \"nivel\": \"number\",\n    \"justificativa\": \"string\"\n  },\n  \"estrutura_lead\": {\n    \"framework\": \"string\",\n    \"explicacao\": \"string\"\n  },\n  \"pontos_melhoria\": [\n    {\n      \"problema\": \"string\",\n      \"porque_e_um_problema\": \"string\",\n      \"correcao_eugene\": \"string\",\n      \"exemplo_reescrito\": \"string\"\n    }\n  ],\n  \"novos_angulos\": [\n    {\n      \"headline\": \"string\",\n      \"nivel_consciencia\": \"string\",\n      \"justificativa\": \"string\"\n    }\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1220,
        720
      ],
      "id": "def97784-5c0c-47d3-bfab-2c2f5ebc1402",
      "name": "Eugene Schwartz"
    },
    {
      "parameters": {
        "description": "Você é o cérebro simulado de Eugene Schwartz, lendário copywriter e autor de *Breakthrough Advertising*.  \nSeu papel não é buscar novos dados, mas raciocinar profundamente sobre publicidade, persuasão e principalmente os 5 NÍVEIS DE CONSCIÊNCIA.  \n\nIMPORTANTE: o maior erro em copy é falar com o nível errado.  \nPortanto, sua primeira tarefa SEMPRE é identificar claramente em qual dos 5 níveis de consciência o público-alvo se encontra:  \n1. Desconsciente  \n2. Consciente do Problema  \n3. Consciente da Solução  \n4. Consciente do Produto  \n5. Mais Consciente  \n\nSempre que uma lead ou texto for fornecido, pense como Eugene:  \n- Identifique o nível de consciência e o estágio de sofisticação do mercado.  \n- Analise se a promessa, o mecanismo, a prova e a CTA estão ajustados para esse nível.  \n- Alerte se houver desalinhamento entre a copy e o nível de consciência.  \n- Antecipe objeções e gatilhos emocionais do público nesse estágio.  \n- Sugira melhorias em posicionamento, mecanismo, especificidade e bullets de fascinação.  \n\n⚠️ Não reescreva ou produza a copy final aqui — apenas registre o raciocínio interno, como se Eugene estivesse pensando em silêncio.  \nEsse log servirá depois para que outras ferramentas produzam a saída final.  \n\nMantenha consistência: sempre pense com o modelo mental de Eugene Schwartz, e nunca se esqueça de ancorar sua análise nos 5 NÍVEIS DE CONSCIÊNCIA.  \n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1300,
        980
      ],
      "id": "ca166e7a-6092-4baf-b784-01d18fc3049f",
      "name": "Eugene Schwartz Brain"
    },
    {
      "parameters": {
        "content": "## Prepare",
        "height": 280,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        720
      ],
      "typeVersion": 1,
      "id": "9ee1c2ea-e25b-46e9-804a-9b330f4e954f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Embedding Lead",
        "height": 280,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        720
      ],
      "typeVersion": 1,
      "id": "23ac2498-e7e5-4633-9cd0-049f43e0dc7b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Vector Search",
        "height": 280,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        720
      ],
      "typeVersion": 1,
      "id": "a1e0cb06-e45e-4b0e-8269-adb9ead3c459",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 680,
        "width": 2900,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -900,
        500
      ],
      "typeVersion": 1,
      "id": "97bdab26-7f29-4a46-9143-06caa5f1f4b1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/eugene-brain/Core",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        920
      ],
      "id": "6659ea67-1ab3-4bcd-925f-3c8b8aa1bcb3",
      "name": "Webhook",
      "webhookId": "b9403a40-b822-466f-82ea-c3e179799a7f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1740,
        720
      ],
      "id": "466722ac-1b5d-4a87-925e-c92724e93018",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## SET LEAD",
        "height": 220,
        "width": 180,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        740
      ],
      "typeVersion": 1,
      "id": "cf5d3c2e-b66f-4d79-b6e0-db8ecb524386",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 740,
        "width": 2740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        1380
      ],
      "typeVersion": 1,
      "id": "2c64f36a-e791-4b92-9b85-1e48b19eafc2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 780,
        "width": 3300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        2420
      ],
      "typeVersion": 1,
      "id": "d5a589e6-cb0f-4500-ae42-0e729dd0ea0e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 520,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        640
      ],
      "typeVersion": 1,
      "id": "9d3dee87-2ff1-4bf9-9eb8-9951a248c39c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "\r\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣴⠶⣦⣤⣴⠶⢶⣤⣀⣀⣀⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣴⠶⠿⢋⡝⠀⢤⣄⣈⣿⣤⣤⣈⠉⡩⢭⣉⣙⢻⣷⣦⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⠾⠛⣩⠿⠷⢶⣄⠘⢷⣄⠀⠈⠋⠀⡀⠀⠉⠻⣦⠀⠈⠉⣉⡉⠘⠲⠾⢭⣻⢶⣤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⠟⢱⠀⠈⠁⠀⠀⠀⢹⡇⠀⠙⣧⡀⠀⠀⢿⡀⠀⠀⢹⡇⠀⠀⢸⠛⠒⠀⠦⣤⡙⢧⣤⣭⣙⠿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⢀⣴⡿⣡⠂⠘⣧⡀⢀⣴⠟⠁⠈⣷⣄⠀⠈⢻⣄⠀⠈⠙⠛⠛⢶⣷⡀⣴⠞⠛⠳⣤⡀⠀⠙⠓⠲⢦⣌⢳⡘⣿⡀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⢀⣴⠟⠉⢶⡇⠠⣄⣀⣉⣛⣿⡄⠀⠀⠈⢻⣆⠀⠀⠙⠻⢶⣄⠀⠀⠀⠈⢿⡁⠀⡄⠀⢨⣅⣤⣴⢶⣄⠀⠙⠳⢤⡉⠛⣷⣄⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⢠⣿⠃⠲⢤⣼⠇⠀⠞⠉⠀⠈⠙⢿⡄⢰⠀⠀⢻⣆⠀⠀⠀⠀⢿⡄⠀⠀⠀⠸⡇⠀⣷⠀⠀⢹⡅⠀⠀⠻⣦⣤⣀⠀⢻⠀⡈⠻⣦⠀⠀⠀⠀\n⠀⠀⠀⠀⣿⠁⣰⠀⠈⣿⠀⠀⢀⡴⠋⠁⠀⠈⢷⣸⡆⠀⠈⢿⡄⠀⠀⠀⠈⣷⠀⠀⠀⣠⠇⠀⣿⠀⠀⣼⠃⠀⠀⠀⠀⣉⠙⢷⡄⠀⢹⡀⠻⣦⡀⠀⠀\n⠀⠀⢀⣼⠟⠂⢿⡀⠀⠙⠷⠶⣾⣇⠀⠀⠘⢶⣼⠿⢷⡀⠀⠈⣿⡄⠀⠀⢠⡟⠀⢤⡀⠀⢀⣰⠿⠦⠾⢃⠀⠀⠀⠀⣰⠃⠀⠀⣷⣀⠀⠓⢶⡈⣿⡀⠀\n⠀⠀⣼⡏⠀⠐⠚⠛⠒⠲⢤⠀⠈⠙⣧⡀⠀⡾⠁⠀⡈⠙⠦⠀⠻⣷⣤⣀⣸⣇⠀⠀⠙⠛⠛⠉⠀⠀⢀⣾⣤⡶⠶⠚⠻⣄⠀⠀⡟⠛⠻⣦⠈⢧⠹⣧⠀\n⠀⣰⡿⠓⠀⠀⣀⣤⠶⠶⢦⣤⡀⠀⠸⣧⡀⠀⠀⢸⡇⠀⠀⠀⠛⢉⠉⠉⠛⠿⣦⡀⠀⠀⠀⠀⠀⢠⡿⠋⠀⠀⡀⠀⠀⠙⡄⠈⠀⠀⠀⢙⣀⣈⡇⢿⡇\n⠀⣿⡀⣀⣷⡾⠋⠀⣠⠞⠁⠀⠙⠂⠀⣨⠟⠻⠶⣼⣧⡀⠈⠓⢾⠁⠀⠀⠀⠀⠘⠛⠛⠻⠷⣶⣴⡟⠁⠀⠀⠀⢸⠀⠀⠀⠁⠀⠀⣠⠞⠋⠉⠻⠀⣿⠇\n⠀⣼⠟⠉⢀⠀⠀⠀⢿⠀⠀⠒⠒⠒⢾⠁⠀⡀⠀⠈⢻⡻⢶⣤⣸⣦⡀⠀⢦⠀⠀⠀⠀⠀⠀⠀⠉⢻⣦⣀⢀⣠⠾⠶⣤⣤⣤⠶⠛⠙⣷⠦⠤⠶⣿⡏⠀\n⢸⣿⠸⣄⣼⠷⣦⣤⣬⣷⣄⠀⠀⠀⢸⠀⠀⣇⠀⠀⠀⠁⠀⠈⠉⠉⠛⢶⣌⣷⣄⣀⠀⠀⠀⠀⠀⠀⡿⠙⢿⣅⠀⢀⣀⣀⣩⠶⠒⠚⠁⠀⢀⣴⡟⠀⠀\n⠈⢿⣄⡟⠋⠀⡀⠀⠀⣀⡉⠛⠶⠶⠶⠛⠛⠉⠙⠳⣦⣤⣤⣴⣖⡀⠀⠀⠉⠉⠉⠉⠛⢷⣖⠒⠀⠀⡁⠀⠈⢻⡎⠉⠀⠤⠴⠒⢋⣩⣿⡶⠟⠋⠀⠀⠀\n⠀⠀⢹⣇⠀⢀⡿⠤⣤⣤⣌⡙⠒⠀⠀⣇⠀⠀⠀⠀⠀⠀⢀⡀⠉⠛⢷⣤⣀⣀⣠⡼⠁⠀⠙⠷⣤⣤⡇⠀⠀⢸⡷⠶⠶⠶⠶⠿⠛⠉⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠻⣮⣥⣤⣿⠛⠣⢭⣛⠻⠿⣟⡛⠻⣟⡛⢷⣶⠶⢶⣿⣄⠀⠀⠼⠛⠋⠁⢷⡀⠀⠀⠀⠀⠈⠛⠒⢂⣾⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⢿⣤⢍⣓⡢⢤⣉⠓⠦⣍⡓⢦⡙⠢⣌⠳⣄⠙⣎⠻⣶⣤⣤⣤⣴⣶⣿⣦⣤⣀⣀⣀⣤⣴⠿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠈⢻⡷⠾⠿⠷⣮⣭⣒⣮⣽⣶⣬⣳⣌⣳⣌⣳⣼⡾⠯⢴⣞⣛⡈⢩⣷⠀⠉⠉⠉⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠘⣿⣒⣒⣒⣒⡩⠽⠟⣛⣊⠭⠿⣻⣿⣿⡿⣿⡿⣿⣿⣒⣒⣒⣾⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠙⢷⣤⣤⠤⠒⠒⢉⣉⣤⣶⠿⣻⣾⣟⢿⡒⢭⣖⣒⣤⣶⠿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠿⣯⣭⣥⣴⣮⣥⣾⡿⠋⠙⡟⢛⣿⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠇⢀⡜⢡⣾⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡏⡰⢋⣴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⢡⠇⣼⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⡇⡜⣸⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀\n⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⠷⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀",
        "height": 560,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -120
      ],
      "typeVersion": 1,
      "id": "fbcee510-571f-4ce3-9dc8-52b6f94c8a6f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "````\r /$$$$$$$$ /$$   /$$  /$$$$$$  /$$$$$$$$ /$$   /$$ /$$$$$$$$        /$$$$$$   /$$$$$$  /$$   /$$ /$$      /$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$$       /$$$$$$$  /$$$$$$$   /$$$$$$  /$$$$$$ /$$   /$$\n| $$_____/| $$  | $$ /$$__  $$| $$_____/| $$$ | $$| $$_____/       /$$__  $$ /$$__  $$| $$  | $$| $$  /$ | $$ /$$__  $$| $$__  $$|__  $$__/|_____ $$       | $$__  $$| $$__  $$ /$$__  $$|_  $$_/| $$$ | $$\n| $$      | $$  | $$| $$  \\__/| $$      | $$$$| $$| $$            | $$  \\__/| $$  \\__/| $$  | $$| $$ /$$$| $$| $$  \\ $$| $$  \\ $$   | $$        /$$/       | $$  \\ $$| $$  \\ $$| $$  \\ $$  | $$  | $$$$| $$\n| $$$$$   | $$  | $$| $$ /$$$$| $$$$$   | $$ $$ $$| $$$$$         |  $$$$$$ | $$      | $$$$$$$$| $$/$$ $$ $$| $$$$$$$$| $$$$$$$/   | $$       /$$/        | $$$$$$$ | $$$$$$$/| $$$$$$$$  | $$  | $$ $$ $$\n| $$__/   | $$  | $$| $$|_  $$| $$__/   | $$  $$$$| $$__/          \\____  $$| $$      | $$__  $$| $$$$_  $$$$| $$__  $$| $$__  $$   | $$      /$$/         | $$__  $$| $$__  $$| $$__  $$  | $$  | $$  $$$$\n| $$      | $$  | $$| $$  \\ $$| $$      | $$\\  $$$| $$             /$$  \\ $$| $$    $$| $$  | $$| $$$/ \\  $$$| $$  | $$| $$  \\ $$   | $$     /$$/          | $$  \\ $$| $$  \\ $$| $$  | $$  | $$  | $$\\  $$$\n| $$$$$$$$|  $$$$$$/|  $$$$$$/| $$$$$$$$| $$ \\  $$| $$$$$$$$      |  $$$$$$/|  $$$$$$/| $$  | $$| $$/   \\  $$| $$  | $$| $$  | $$   | $$    /$$$$$$$$      | $$$$$$$/| $$  | $$| $$  | $$ /$$$$$$| $$ \\  $$\n|________/ \\______/  \\______/ |________/|__/  \\__/|________/       \\______/  \\______/ |__/  |__/|__/     \\__/|__/  |__/|__/  |__/   |__/   |________/      |_______/ |__/  |__/|__/  |__/|______/|__/  \\__/\n                                                                                                                                                                                                           \n                                                                                                                                                                                                           \n                                                                                                                                                                                                           ",
        "height": 200,
        "width": 2100,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        60
      ],
      "typeVersion": 1,
      "id": "58a017de-98b7-45b9-8d28-ffd003c6c2d0",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhooks.gtline.click",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "6792",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "179.178.255.38",
            "x-forwarded-host": "webhooks.gtline.click",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "179.178.255.38"
          },
          "params": {},
          "query": {},
          "body": {
            "lead": "Na noite do ano de 1785, Antoine Lavoisier, um químico brilhante e famoso, descobriu o caminho para emagrecer sem sacrifícios.\n\nEssa descoberta, que ficou escondida até hoje, é a chave para toda mulher perder a gordura da barriga, culote e papada… dizendo ADEUS ao efeito sanfona.\n\nIndependente se já passou dos 40 anos ou se precisa eliminar 5, 10 ou mais quilos.\n\nPor trás dessa descoberta, está a verdadeira razão:\n\n1 — Da atividade física não emagrecer por si só.\n\n\nFonte: https://pubmed.ncbi.nlm.nih.gov/9738131/ \n\n2 — O porquê a maioria das pessoas que fazem bariátrica engordam tudo de novo.\n\n\n\n3 — E por que tomar remédios pra emagrecer acaba em efeito sanfona e aumentam o risco de desenvolver diabete.\n\n\nFonte:https://www1.folha.uol.com.br/equilibrio/2023/02/reganho-de-peso-e-glicemia-alta-sao-efeitos-comuns-apos-tratamento-com-semaglutida.shtml \n\nLavoisier descobriu que, pra perder peso, não adianta fazer horas de atividade física…\n\nSe submeter a dietas altamente restritivas, cortando carboidratos, gorduras e açúcar da sua alimentação…\n\nColocar a sua vida em risco entrando na faca pra fazer cirurgias e procedimentos estéticos caros e perigosos, como, por exemplo, a bariátrica e a lipoaspiração…\n\nOu prejudicar a sua saúde tomando pílulas com propaganda milagrosa para emagrecer.\n\nNa verdade, o que ele descobriu é que existe um processo no seu corpo capaz de transformar a sua gordura em gás. \n\nÉ isso mesmo. \n\nVocê pode simplesmente fazer sua gordura evaporar e perder 5, 10 ou mais quilos.\n\nE o melhor de tudo: você pode fazer isso simplesmente ao tomar esse poderoso suco que fica pronto em 15 segundinhos.\n\n[Dayan mostra o suco em sua mão, ou um B-roll mostra o Dayan preparando o suco].\nJá imaginou isso? \n\nVocê podendo: \n\nAo se olhar no espelho, gostar de verdade do seu corpo…\n\nSe sentir mais bonita e feliz por ser magra…\n\nColocar qualquer roupa sem nem passar pela sua cabeça preocupações como: será que meu braço está muito gordo ou minha barriga está marcando muito?\n\nE o melhor: poder vestir as roupas que mais gosta, mas que estavam guardadas em um cantinho do guarda-roupa.\n\nEntão, se prepare para o que eu vou te falar nos próximos minutos: é muito rápido fazer a gordura do seu corpo virar gás e emagrecer sem sofrimento…\n\nNão importa:\n\nQuantos quilos você precisa eliminar…\nQual a sua idade…\nOnde você mora… seja no interior ou na capital…\nSe acredita que sua genética é ruim…\nOu que depois dos 40 anos o metabolismo fica lento.\n\nA partir de agora, emagrecer será apenas uma questão de DIAS quando você descobrir:\n\nComo transformar a gordura em gás tomando um suco que fica pronto em apenas 15 segundos.\n\nE o melhor: \n\nAinda neste vídeo vou te mostrar como você pode fazer este suco já nos próximos dias… aí mesmo da sua casa.\n\nCom esse hábito, você pode eliminar 2, 5 ou até mais quilos no primeiro mês, sem precisar necessariamente fazer exercícios físicos para isso.\n\nMas o mais importante é que você vai abandonar pensamentos como:\n\n“dietas não funcionam pra mim”;\n“meu corpo mudou, eu nunca vou conseguir emagrecer sem passar fome todo dia”.\n\nPorque quando você começar a ver sua barriga diminuir com o que vai aprender aqui hoje, vai ficar muito fácil manter o seu peso ideal pelo tempo que você quiser.\n\nE assim, finalmente conseguir se LIBERTAR do ciclo de tentativas frustradas de perder peso.\n\nEntão, preste atenção em tudo o que você vai descobrir agora nesta apresentação.\n\nBom, se você ainda não me conhece, meu nome é Dayan Siebra, tenho o maior canal de saúde na língua portuguesa, com quase 7 milhões de inscritos.\n\nE já ajudei mais de 30 mil pessoas a emagrecerem de forma saudável e definitiva.\n\nPra ser 100% sincero, eu preciso me abrir aqui com você…\n\nApesar de atuar na área da saúde há mais de 25 anos, durante muito tempo eu só me preocupei em trabalhar e fazer dinheiro.\n\nAfinal, se está fazendo dinheiro, está tudo certo, né?\n\nAos 35 anos eu era obeso, vivia estressado, dormia pouco, trabalhava muito e descontava todas as minhas frustrações na comida.\n\nEu comia pra não ir pra casa. \n\nPra não perder a performance. \n\nTer uma barriga enorme era ok, porque eu estava fazendo dinheiro.\n\nPra alguém reconhecido, famoso e bem-sucedido na área da saúde, então… estar acima do peso não importava.\n\nComo eu comia de forma descontrolada, meu corpo começou a dar sinais.\n\nPrimeiro, eu comecei a engordar muito rápido porque meu metabolismo ficou lento.\n\nComeçou apenas com o bucho aumentando…\n\n… depois o rosto ficando mais inchado…\n\nE em seguida, meus hormônios começaram a descontrolar…\n\n… já eram os sinais de pedido de socorro do corpo por estar acima do peso.\n\nEstava sofrendo com crises de ansiedade, insônia, estresse e dores em todo o corpo com frequência.\n\nDurante esse tempo, eu até tentei algumas coisas para emagrecer, mas com o conhecimento que eu tinha na época, a única coisa que eu sabia fazer era fechar a boca e me exercitar mais…\n\n… mas nunca consegui emagrecer e me manter magro, o que me levou a frustração e mais estresse ainda, por adicionar algo na minha rotina que não funcionava.\n\nEu me questionava: “o que tem de errado comigo?!” \n\n“EU SOU MÉDICO! EU DEVERIA CONSEGUIR FAZER ISSO!”\n\nMas continuei sem conseguir, até chegar a hipertensão, o pré-diabetes…\n\n… e cada um desses problemas me levou ao episódio mais trágico da minha vida.\n\nNeste dia, eu estava dirigindo, indo pra casa voltando do trabalho e de repente…\n\nMeu coração disparou como um cavalo de corrida, meu peito começou a doer como se tivesse uma espada cortando meu coração.\n\nEu comecei a tremer muito e a minha visão ficou turva, eu não conseguia enxergar mais nada… na mente não passava um pensamento.\n\nPensei que estivesse tendo um infarto.\n\nMas, na verdade, eu tive um ataque de pânico enquanto dirigia e a consequência foi encarar a morte de frente… \n\nAconteceu tudo muito rápido e eu acabei batendo o carro.\n\nMinha sorte é que pior não aconteceu comigo.\n\nMas naquele momento, minha vida inteira passou diante dos meus olhos.\n\nDepois de ter passado pela UTI, quando acordei no hospital, entendi que aquele episódio foi uma segunda chance que eu recebi.\nEu finalmente percebi que não poderia continuar daquele jeito e precisava fazer de tudo pra mudar.\n\nEu entendi que o meu problema com excesso de peso não era só o espelho — era o risco de perder a minha vida e deixar minha esposa, meus filhos e todas as pessoas que amo.\n\n",
            "timestamp": "2025-09-23T17:23:04.034Z"
          },
          "webhookUrl": "https://webhooks.gtline.click/webhook/eugene-brain/Core",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Inserir na Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Inserir na Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Inserir na Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text1": {
      "main": [
        [
          {
            "node": "Inserir na Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc2": {
      "main": [
        [
          {
            "node": "Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Inserir na Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Inserir na Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Inserir na Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Inserir na Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Definir ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Definir ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Inserir na Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File1": {
      "main": [
        [
          {
            "node": "Inserir na Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Definir Versão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract PDF Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para o Google Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para o Google Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para o Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte para o Google Docs": {
      "main": [
        [
          {
            "node": "Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir ID1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Versão": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "SET Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET Lead": {
      "main": [
        [
          {
            "node": "Extract Sources (URLs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sources (URLs)": {
      "main": [
        [
          {
            "node": "Prepare Embedding Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embedding Body": {
      "main": [
        [
          {
            "node": "Embedding (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding (OpenAI)": {
      "main": [
        [
          {
            "node": "Prepare Embedding Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embedding Format": {
      "main": [
        [
          {
            "node": "Postgres: Vector Search (top-k chunks do livro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Vector Search (top-k chunks do livro": {
      "main": [
        [
          {
            "node": "Prepare Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vector Search": {
      "main": [
        [
          {
            "node": "Eugene Schwartz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Eugene Schwartz",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Eugene Schwartz",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Eugene Schwartz Brain": {
      "ai_tool": [
        [
          {
            "node": "Eugene Schwartz",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eugene Schwartz": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "SET Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f17cda05-6784-41fa-ae7d-68446e7f3667",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bdc4d0102dce38f17fc7b666416cf787b009d3baa0e2024d5bc50018f124111"
  },
  "id": "B0li9NDvUVXDHFqP",
  "tags": []
}
